<h1 class="text-center">My wikis</h1>
<% if current_user.standard? %>
  <%= render partial: 'table', locals: { free: true } %>
<% else %>
  <div class="nav nav-tabs nav-justified">
    <div class="switch-field">
      <%= radio_button :show, 'Public', checked: true %>
      <%= label :show, 'Public' %>
      <input type="radio" id="switch_right" name=@show value=false />
      <label for="switch_right">Private</label>
    </div>
  </div>
  <%= render partial: 'table', locals: { free: @show } %>
<% end %>
<div class="text-center">
  <%= link_to 'New wiki', new_wiki_path, class: "btn btn-default" %>
</div>
