<h1 class="text-center">My wikis</h1>
<% if !current_user || current_user.standard? %>
  <%= render partial: 'table', locals: { free: true } %>
<% else %>
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><%= link_to 'Public', wikis_path %></li>
    <li role="presentation"><%= link_to 'Private', wikis_path %></li>
  </ul>
  <%= render partial: 'table', locals: { free: false } %>
  <%= render partial: 'table', locals: { free: true } %>
<% end %>
<div class="text-center">
  <%= link_to 'New wiki', new_wiki_path, class: "btn btn-default" %>
</div>
